@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: rgb(224, 177, 213);
}

.shadow-lg {
  --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1),
    0 4px 6px -4px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color),
    0 4px 6px -4px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  background: rgb(219, 219, 243);
}
.grid {
  display: flex; /* Flexbox'ı etkinleştirin */
  flex-direction: row; /* Öğeleri yatay sıraya dizin */
  flex-wrap: wrap; /* Gerekirse birden fazla satır oluşturun */
  justify-content: space-between; /* Boşlukları eşit şekilde dağıtın */
}

.grid .grid-item {
  flex: 1 0 auto; /* Her öğeye eşit alan verin */
  margin-bottom: 10px; /* Alt kenar boşluğu ekleyin */
}
